[Unit]
Description=Mount USB Drive on %i

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/etc/udev/scripts/usb-mount.sh add %i
ExecStop=/etc/udev/scripts/usb-mount.sh remove %i
